# ~/.gitconfig: global git configuration.

[user]
        name = Scott Powell
        email = scott@powell.sh
[core]
        editor = vim
        pager =
        excludesFile = ~/.gitignore
[init]
        defaultbranch = main
[pager]
        log = false
[color]
        ui = auto
